<div class="units-row">
    <div class="unit-30 bouquet-item-images">
        <div class="units-row">
            <img class="width-100" src="" alt=""/>
        </div>
        <div class="units-row">
            <ul class="blocks-4">
                <li>
                    <img class="width-100" src="" alt=""/>
                </li>
                <li>
                    <img class="width-100" src="" alt=""/>
                </li>
                <li>
                    <img class="width-100" src="" alt=""/>
                </li>
                <li>
                    <img class="width-100" src="" alt=""/>
                </li>
                <li>
                    <img class="width-100" src="" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="unit-70 bouquet-item-description">
        <div class="units-row">
            <div class="unit-100">
                <span class="bouquet-title">
                    Наименование букета
                </span>
            </div>
        </div>
        <div class="units-row">
            <div class="unit-100">
                gdfg fdgfdg dfgdfg dfgdf fdgdf fdgdf dfgfd dfgdfg dfgdf dfgdfgdf dfgdf fdgdf fdgfd g dfg fdg fdg fdgfd
                gfgfdgfdg fdgddf fdgdfg dfgdf fdgfd gdf gfdgfd dfg dfgfdgdf gdfg fdgfdg dfgdf gfdgfd gfdg df fdg f dfgdfg
                gfdgfd fdgfdgfd gdfg dfgfdgfd gfdgd fghr ghkl y
            </div>
        </div>
        <div class="units-row">
            <div class="unit-100">
                <div class="units-row">
                    <div class="unit-70">
                        В состав букета входят следующие цветы и декоративные материалы:
                        <ul>
                            <li>цветок 1</li>
                            <li>цветок 2</li>
                            <li>упаковка</li>
                        </ul>
                    </div>
                    <div class="unit-30">
                        <div class="units-row end">
                            <div class="unit-100 text-right">
                                <span class="bouquet-price">1850 р.</span>
                            </div>
                        </div>

                        <div class="units-row">
                            <div class="unit-100">
                                <button class="btn btn-small btn-yellow right">
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="units-row">

                        <div class="unit-100 related-bouquets">
                            <div class="units-row end">
                                <div class="unit-100">
                                    <span class="title">Вам так же могут понравиться эти букеты</span>
                                </div>
                            </div>

                            <div class="units-row end">
                                <div class="unit-100">
                                    <ul class="blocks-4">
                                        <li>
                                            <img class="width-100" src="" alt=""/>
                                        </li>
                                        <li>
                                            <img class="width-100" src="" alt=""/>
                                        </li>
                                        <li>
                                            <img class="width-100" src="" alt=""/>
                                        </li>
                                        <li>
                                            <img class="width-100" src="" alt=""/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="units-row end">
    <div class="unit-30">fsd</div>


</div>