html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  min-width: 1200px;
  height: 50px;
  background: whitesmoke;
  border-bottom: 1px solid lightgrey;
}
#header #cart {
  position: relative;
  float: right;
  width: 180px;
  height: 200px;
  margin-right: 20px;
  padding: 5px;
  vertical-align: middle;
  z-index: 3;
  border: 1px solid red;
}
#header #cart #cart-icon {
  position: relative;
  display: inline-block;
  float: left;
  width: 36px;
  height: 36px;
  margin-top: 2px;
  margin-right: 5px;
  background: url("../img/cart2_36px.png") center center;
  background-repeat: no-repeat;
}
#header #cart #cart-icon .badge {
  margin-top: -3px;
  margin-right: -3px;
}
#header #cart #empty-cart {
  position: relative;
  display: block;
  height: 30px;
  margin-left: 50px;
  padding-top: 7px;
  padding-right: 5px;
  text-align: center;
  font-family: "Verdana";
  font-size: 13px;
  line-height: 13px;
  color: grey;
}
#wrapper {
  position: absolute;
  overflow: hidden;
  top: 51px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  min-width: 1250px;
}
#sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 250px;
  height: 100%;
  background: #F0F0F0;
}
#content {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  left: 250px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 10px;
}
.bouquet {
  height: 280px;
  border-radius: 2px;
  border: 1px solid #F2F2F2;
}
.bouquet:hover {
  border: 1px solid #F2F2F2;
}
.bouquet .bouquet-title {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  font-family: 'Lobster', cursive;
  font-size: 22px;
  line-height: 17px;
  color: #134da5;
}
.bouquet-img {
  height: 250px;
  overflow: auto;
}
.bouquet-img img {
  display: block;
  position: relative;
  clear: both;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
}
.bouquet-img .bouquet-labels {
  display: block;
  float: right;
  clear: both;
  margin-left: -50px;
  border: 1px solid black;
}
.bouquet-info {
  padding: 5px;
}
.bouquet-info .btn {
  padding-left: 5px;
  padding-right: 5px;
}
.bouquet-info .bouquet-title {
  display: inline-block;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  line-height: 17px;
}
.bouquet-info .bouquet-title {
  display: inline-block;
  margin-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  line-height: 17px;
  color: #134da5;
}
.bouquet-info .bouquet-price {
  display: inline-block;
  position: relative;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Lobster', cursive;
  font-size: 26px;
}
/*** MISC ***/
/*** ALIGNS ***/
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
