@min-width: 1200px;
@header-height: 50px;
@footer-height: 50px;
@sidebar-width: 300px;

html, body {
  overflow: visible;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: url("../img/bg02.gif");
}

#header {
  position: absolute;
  z-index: 4;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 1250px;
  //min-width: @min-width;
  height: @header-height;
  margin-left: auto;
  margin-right: auto;
  //z-index: 2;
  background: whitesmoke;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);

  #logo {
    position: relative;
    float: left;
    height: @header-height;
    z-index: 3;
    padding-top: 10px;

    img {
      display: block;
      height: 80px;
      //border: 1px solid red;
    }
  }

  #cart {
    position: relative;
    float: right;
    width: 180px;
    //height: @header-height - 10px;
    height: 50px;
    margin-right: 20px;
    padding: 5px;
    vertical-align: middle;
    z-index: 3;
    border: 1px solid red;

    #cart-icon {
      position: relative;
      display: inline-block;
      float: left;
      width: 36px;
      height: 36px;
      margin-top: 2px;
      margin-right: 5px;
      background: url("../img/cart2_36px.png") center center;
      background-repeat: no-repeat;
      //border: 1px solid black;

      .badge {
        margin-top: -3px;
        margin-right: -3px;
      }
    }

    #empty-cart {
      position: relative;
      display: block;
      height: 30px;
      margin-left: 50px;
      padding-top: 7px;
      padding-right: 5px;
      text-align: center;
      font-family: "Verdana";
      font-size: 13px;
      line-height: 13px;
      color: grey;
      //border: 1px solid red;
    }
  }
}

#wrapper {
  position: absolute;
  overflow-y: scroll;
  top: @header-height;
  left: 0px;
  bottom: 0px;
  right: 0px;
  //margin-top: @header-height;
  margin-left: auto;
  margin-right: auto;
  //margin-bottom: -50px;

  width: 1250px;
  //min-width: 1000px + @sidebar-width;
  //height: 100%;
  //margin-top: @header-height;
  //padding: 10px;
  //z-index: 1;
  //border: 1px solid green;
  border-left: 1px solid lightgrey;
  //border-right: 1px solid lightgrey;
  background: white;
  box-shadow: 0 1px 10px rgba(2,0,0,0.1);
}

#sidebar {
  //position: absolute;
  //top: 0px;
  //left: 0px;
  //bottom: 0px;
  //float: left;
  //width: @sidebar-width;
  height: 100%;
  margin-top: 40px;
  margin-right: -20px;
  //padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  //padding-right: 5px;
  background: url("../img/ornament1.png") top left #DEF6FF;
  background-repeat: repeat-y;
  //border: 1px solid red;
  border-radius: 2px;

  select {
    //display: block;
    //width: 230px;
    //margin-left: 5px;
    //margin-right: 5px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;

    //margin-left: 5px;
    //margin-right: 5px;
  }

  .sidebar-caption {
    display: block;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    color: #4EC0ED;
  }

  .sidebar-link {
    display: inline-block;
    margin-right: 15px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    text-decoration: none;
    border-bottom: 1px dotted blue;

    &:hover {
      color: #dd1144;
      border-bottom: 1px dotted #dd1144;
    }

    &.active {
      color: #dd1144;
      font-weight: bold;
      border-bottom: 1px dotted #dd1144;
    }
  }
}


#content {
  //position: absolute;
  //overflow-x: visible;
  //overflow-y: scroll;
  //left: 0px;
  //top: 0px;
  //bottom: 0px;
  //right: 0px;
  //float: left;
  z-index: 5;
  height: 100%;
  min-height: 600px;
  //margin-left: @sidebar-width;
  //margin-top: @header-height - 25px;
  margin-bottom: -50px;
  padding-top: 0px;
  padding: 10px;
  //text-align: center;
  //background: cornsilk;
  //
  //background: #F7FAFC;

  .pagination {
    margin-bottom: 10px !important;

    a {
      background: transparent !important;
      color: black;
      border-radius: 2px;

      //&:hover {
       // background: #FFC800 !important;
      //}
    }


    li {
      background: transparent !important;
      border: 1px solid transparent;

      &:hover {
        //background: #FFC800 !important;
        border: 1px solid #FFC800;
      }

      &.active-page {
        font-weight: bold;
        background: #FFC800 !important;
        border-radius: 2px;

        &:hover {
          border: 1px solid transparent;
        }
      }
    }
  }
}





.bouquet {
  //float: left;
  //width: 25%;
  height: 280px;
  //margin-bottom: 10px;
  //border: 1px solid transparent;
  border-radius: 2px;
  border: 1px solid #F2F2F2;
  border-bottom: 1px solid lightgrey;
  background: white;

  &:hover {
    border: 1px solid #FFC800;
  }

  .bouquet-title {
    //text-align: le;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-family: 'Lobster', cursive;
    font-size: 22px;
    line-height: 17px;
    color: #134da5;
  }
}

.bouquet-img {
  height: 250px;
  overflow: auto;
  //margin-left: 5px;
  //margin-right: 5px;
  //border: 1px solid red;

  img {
    display: block;
    position: relative;
    //float: left;
    clear: both;
    //width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;

  }

  .bouquet-labels {
    display: block;
    float: right;
    clear: both;
    margin-left: -50px;
    border: 1px solid black;
  }
}



.bouquet-info {
  height: 60px;
  //margin-left: 5px;
  //margin-right: 5px;
  padding: 5px;
  vertical-align: middle;
  //border: 1px solid blue;
  //background: url("../img/wood.png");
  background: #EFF2ED;

  .btn {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
  }

  //.bouquet-title {
  //  display: inline-block;
  //  text-align: center;
  //  font-family: Verdana;
  //  font-size: 14px;
  //  line-height: 20px;
  //}

  .bouquet-title {
    display: inline-block;
    margin-left: 5px;
    padding-right: 5px;
    text-align: center;
    text-overflow: ellipsis;
    font-family: 'Lobster', cursive;
    font-size: 16px;
    line-height: 18px;
    color: #134da5;
  }

  .bouquet-price {
    display: block;
    position: relative;
    //padding-top: 5px;
    //float: right;
    //clear: left;
    //width: 150px;
    //height: 40px;
    //margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    //color: #134da5;
    //margin-top: -40px;
    font-family: 'Lobster', cursive;
    font-size: 22px;
    color: #237f35;
    //background: url("../img/price-tag_small.png");
    //border: 1px solid green;
  }

}




/*** FOOTER ***/
#footer {
  height: @footer-height;
  margin-bottom: -50px;
  //margin-right: -20px;
  background: whitesmoke;
  //border-top: 1px solid lightgrey;
  //border-left: 1px solid lightgrey;
  //border-right: 1px solid lightgrey;
  //border: 1px solid red;

  .copyrights {
    padding-top: 12px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 15px;
  }
}

/*** MISC ***/
.clip {
  overflow: auto;
  text-overflow: ellipsis;
}
//.badge {
//  display: inline-block;
//  width: 18px;
//  height: 18px;
//  text-align: center;
//  font-family: "Lucida Grande";
  //font-size: 14px;
//  font-weight: bold;
//  line-height: 19px;
//  border-radius: 18px;

  //&.error {
  //  color: white;
  //  background: tomato;
 // }
//}


/*** ALIGNS ***/
.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}




/*** SIDEBARS ***/
.filter {
  padding: 5px;
  background: #d3e3fb;
  border-radius: 2px;
}