html,
body {
  overflow: visible;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: url("../img/bg02.gif");
}
#header {
  position: fixed;
  z-index: 4;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 1250px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/orn.png") top left #fab83e;
  background-repeat: repeat-x;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
#header #logo {
  position: relative;
  float: left;
  height: 50px;
  z-index: 3;
  padding-top: 10px;
}
#header #logo img {
  display: block;
  height: 80px;
}
#header #menu a {
  margin-top: 7px;
  margin-left: 10px;
  padding: 5px !important;
  padding-left: 8px !important;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  text-decoration: none;
  color: white !important;
  text-shadow: #000000 0px 1px 0px;
  border-radius: 5px;
}
#header #menu a:hover {
  color: #367ac3;
  background: #51a7c9;
}
#header #user {
  height: 50px;
  padding: 5px;
}
#header #user #user-icon {
  width: 36px;
  height: 36px;
  margin-top: 2px;
  background: url("../img/user_36px.png") center center;
  background-repeat: no-repeat;
}
#header #user #user-icon .badge {
  margin-top: -3px;
  margin-right: -3px;
}
#header #cart {
  position: relative;
  float: right;
  width: 180px;
  height: 50px;
  padding: 5px;
  vertical-align: middle;
  z-index: 3;
  background: #FACA70;
}
#header #cart #cart-icon {
  position: relative;
  display: inline-block;
  float: left;
  width: 36px;
  height: 36px;
  margin-top: 2px;
  margin-right: 5px;
  background: url("../img/cart2_36px.png") center center;
  background-repeat: no-repeat;
}
#header #cart #cart-icon .badge {
  margin-top: -3px;
  margin-right: -3px;
}
#header #cart #empty-cart {
  position: relative;
  display: block;
  height: 30px;
  margin-left: 40px;
  padding-top: 7px;
  padding-right: 5px;
  text-align: center;
  font-family: "Verdana";
  font-size: 13px;
  line-height: 13px;
  color: black;
}
#header #cart #cart-total-price {
  display: block;
  height: 30px;
  margin-left: 40px;
  padding-top: 7px;
  padding-right: 5px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #de2c3b;
}
#wrapper {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  border-left: 1px solid lightgrey;
  background: white;
  box-shadow: 0 1px 10px rgba(2, 0, 0, 0.1);
}
#sidebar {
  height: 100%;
  margin-top: 40px;
  margin-right: -20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  background: url("../img/ornament1.png") top left #def6ff;
  background-repeat: repeat-y;
  border-radius: 2px;
}
#sidebar select {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
#sidebar .sidebar-caption {
  display: block;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  color: #4EC0ED;
}
#sidebar .sidebar-link {
  display: inline-block;
  margin-right: 15px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  text-decoration: none;
  border-bottom: 1px dotted blue;
}
#sidebar .sidebar-link:hover {
  color: #dd1144;
  border-bottom: 1px dotted #dd1144;
}
#sidebar .sidebar-link.active {
  color: #dd1144;
  font-weight: bold;
  border-bottom: 1px dotted #dd1144;
}
#content {
  z-index: 5;
  height: 100%;
  min-height: 600px;
  margin-bottom: -50px;
  padding-top: 0px;
  padding: 10px;
  background: #FCFCFC;
}
#content .pagination {
  margin-bottom: 10px !important;
}
#content .pagination a {
  background: transparent !important;
  color: black;
  border-radius: 2px;
}
#content .pagination li {
  background: transparent !important;
  border: 1px solid transparent;
}
#content .pagination li:hover {
  border: 1px solid #FFC800;
}
#content .pagination li.active-page {
  font-weight: bold;
  background: #FFC800 !important;
  border-radius: 2px;
}
#content .pagination li.active-page:hover {
  border: 1px solid transparent;
}
.bouquet {
  height: 280px;
  border-radius: 2px;
  border: 1px solid #F2F2F2;
  border-bottom: 1px solid lightgrey;
  background: white;
}
.bouquet:hover {
  border: 1px solid #FFC800;
}
.bouquet .bouquet-title {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-family: 'Lobster', cursive;
  font-size: 22px;
  line-height: 17px;
  color: #134da5;
}
.bouquet-img {
  height: 250px;
  overflow: auto;
}
.bouquet-img img {
  display: block;
  position: relative;
  clear: both;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}
.bouquet-img .bouquet-labels {
  display: block;
  float: right;
  clear: both;
  margin-left: -50px;
  border: 1px solid black;
}
.bouquet-info {
  height: 60px;
  padding: 5px;
  vertical-align: middle;
  background: #EFF2ED;
}
.bouquet-info .btn {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
}
.bouquet-info .bouquet-title {
  display: inline-block;
  margin-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-overflow: ellipsis;
  font-family: 'Lobster', cursive;
  font-size: 16px;
  line-height: 18px;
  color: #134da5;
}
.bouquet-info .bouquet-price {
  display: block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-family: 'Lobster', cursive;
  font-size: 22px;
  color: #237f35;
}
/*** FOOTER ***/
#footer {
  position: relative;
  height: 50px;
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
  background: #FAB83E;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: url("../img/orn.png") top left #fab83e;
}
#footer .copyrights {
  padding-top: 12px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 15px;
}
#footer a {
  display: inline-block;
  height: 32px;
  padding-top: 10px;
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted black;
}
#footer a:hover {
  color: red;
  border-bottom: 1px dotted red;
}
/*** BOUQUET ***/
.bouquet-item-images {
  padding-top: 40px;
}
.bouquet-item-images img {
  height: 450px;
  border: 1px solid #FFC800;
  border-radius: 2px;
}
.bouquet-item-images ul img {
  height: 80px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}
.bouquet-item-images ul img:hover {
  border: 1px solid #FFC800;
}
.bouquet-item-description {
  padding-top: 40px;
}
.bouquet-item-description .bouquet-title {
  font-family: 'Lobster', cursive;
  font-size: 33px;
  color: #237f35;
}
.bouquet-item-description .bouquet-price {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #F74D63;
}
.bouquet-item-description .bouquet-flowers {
  line-height: 22px;
  margin-bottom: 7px !important;
}
.bouquet-item-description .bouquet-flowers img {
  width: 50px;
  height: 50px;
  padding: 2px;
  background: white;
  border: 2px solid #FFC800;
  border-radius: 50px;
}
.related-bouquets {
  margin-top: 50px;
  background: #d3e3fb;
  padding: 10px;
  border-radius: 2px;
}
.related-bouquets.same-price {
  background: #DDEDDD;
}
.related-bouquets .title {
  margin-bottom: 10px !important;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: #1a52a5;
}
.related-bouquets img {
  height: 130px;
  border: 1px solid lightgrey;
}
.related-bouquets ul {
  margin-bottom: 0px !important;
}
.service-info {
  line-height: 20px;
  font-family: 'Lobster', cursive;
  font-size: 17px;
  color: #A39E95;
}
.service-info img {
  width: 64px;
  height: 64px;
}
.service-info .service-content {
  padding-top: 10px;
}
.service-info .caption {
  font-size: 20px;
  color: #0869A6;
}
/*** MISC ***/
.clip {
  overflow: auto;
  text-overflow: ellipsis;
}
/*** ALIGNS ***/
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.bottom {
  vertical-align: bottom;
}
/*** COLORS ***/
.black {
  color: black;
}
.grey {
  color: grey;
}
/*** SIDEBARS ***/
.filter {
  padding: 5px;
  background: #d3e3fb;
  border-radius: 2px;
}
