<!-- BEGIN: main -->
<!DOCTYPE html>
<html ng-app="lotos">
<head lang="en">
    <meta charset="UTF-8">
    <title>Флористический салон "Белый Лотос"</title>
    <link rel="stylesheet" href="client/resources/styles/kube.min.css"/>
    <link rel="stylesheet" href="client/resources/styles/lotos.css"/>
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="AppController">
    <div id="header">
        <div id="logo">
            <img src="client/resources/img/logo.png" alt="Флористический салон Белый Лотос"/>
        </div>
        <div id="cart">
            <div id="cart-icon">
                <span class="badge badge-red right">4</span>
            </div>
            <span id="empty-cart">Ваша корзина пуста</span>
        </div>
    </div>
    <div id="wrapper">
        <!--
        <div id="sidebar" ng-include="sidebar.template" ng-controller="SidebarController"></div>
        -->
        <div id="content" ng-view></div>

        </div>
    </div>

    <script src="client/libs/angularjs/angular.min.js"></script>
    <script src="client/libs/angularjs/angular-route.min.js"></script>
    <script src="client/libs/angularjs/angular-cookies.min.js"></script>
    <script src="client/libs/momentjs/moment-with-locales.min.js"></script>
    <script src="client/modules/classes.js"></script>
    <script src="client/modules/lotos.js"></script>
    <script src="client/modules/lotos.sidebar.js"></script>
    <script src="client/modules/lotos.cart.js"></script>
    <script src="client/modules/lotos.bouquets.js"></script>
</body>
</html>
<!-- END: main -->