<div class="units-row">
    <div class="unit" id="sidebar">
        sdfsdf
    </div>
    <div class="unit">
        <div class="units-row end">
            <div class="unit-row end">
                <ul class="pagination right">
                    <li><a href="#">&larr;</a></li>
                    <li><span>..</span></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">&rarr;</a></li>
                </ul>
            </div>
        </div>

        <div class="units-row">
            <div class="unit-row">
                <ul class="blocks-4">
                    <li ng-repeat="bouquet in bouquets.items" class="bouquet">
                        <div class="units-row end bouquet-img">
                            <a href="">
                                <img src="client/resources/img/test1.jpg" alt=""/>
                            </a>
                            <!--
                            <div class="bouquet-labels">
                                <span class="label label-red right">ХИТ ПРОДАЖ</span>
                                <span class="label label-green right">Скидка 10%</span>
                            </div>
                            -->
                        </div>

                        <div class="units-row end bouquet-info">

                            <!--
                            <div class="units-row end text-centered bouquet-title">
                                <div class="units-row end">
                                    <span class="bouquet-title">Букет из 25 роз и говна</span>
                                </div>
                            </div>
                            -->
                            <div class="unit-60">
                                <span class="bouquet-title">Букет из 25 роз и говна</span>
                            </div>
                            <div class="unit-40">
                                <button class="btn btn-small btn-yellow right width-100">
                                    <span class="bouquet-price">1750 р.</span>
                                    В корзину</button>
                            </div>

                            <!--
                            <div class="units-row end text-centered">
                                <span class="bouquet-title">Букет из 25 роз и говна</span>
                            </div>

                            <div class="units-row end">
                                <div class="unit-50 text-centered">
                                    <span class="bouquet-price">1750 р.</span>
                                </div>
                                <div class="unit-50">
                                    <button class="btn btn-small btn-yellow right width-100">В корзину</button>
                                </div>
                            </div>
                            -->

                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="units-row end">
    <div class="unit-row end">
        <ul class="pagination right">
            <li><a href="#">&larr;</a></li>
            <li><span>..</span></li>
            <li><a href="#">...</a></li>
            <li><a href="#">&rarr;</a></li>
        </ul>
    </div>
</div>
<div class="units-row">
    <div class="unit-row">
        <ul class="blocks-4">
            <li ng-repeat="bouquet in bouquets.items" class="bouquet">
                <div class="units-row end bouquet-img">
                    <a href="">
                        <img src="client/resources/img/test1.jpg" alt=""/>
                    </a>
                    <!--
                    <div class="bouquet-labels">
                        <span class="label label-red right">ХИТ ПРОДАЖ</span>
                        <span class="label label-green right">Скидка 10%</span>
                    </div>
                    -->
                </div>

                <div class="units-row end bouquet-info">

                    <!--
                    <div class="units-row end text-centered bouquet-title">
                        <div class="units-row end">
                            <span class="bouquet-title">Букет из 25 роз и говна</span>
                        </div>
                    </div>
                    -->
                    <div class="unit-60">
                        <span class="bouquet-title">Букет из 25 роз и говна</span>
                    </div>
                    <div class="unit-40">
                        <button class="btn btn-small btn-yellow right width-100">
                            <span class="bouquet-price">1750 р.</span>
                            В корзину</button>
                    </div>

                    <!--
                    <div class="units-row end text-centered">
                        <span class="bouquet-title">Букет из 25 роз и говна</span>
                    </div>

                    <div class="units-row end">
                        <div class="unit-50 text-centered">
                            <span class="bouquet-price">1750 р.</span>
                        </div>
                        <div class="unit-50">
                            <button class="btn btn-small btn-yellow right width-100">В корзину</button>
                        </div>
                    </div>
                    -->

                </div>
            </li>

        </ul>
    </div>
</div>