<div class="filter">
    <div class="units-row">
        <div class="units-row">
            <h4>fasfda</h4>
        </div>
        <label>
            <input type="text" name="" id=""/>

        </label>
        <form action="" class="forms">
            <div class="units-row">
                <label>
                    fdsf
                    <input type="text" name="" id="" class="width-90 centered"/>
                </label>
            </div>

            <label>
                Повод
                <select name="reason" id="reason">
                    <option value="">
                    </option>
                </select>
            </label>
        </form>
    </div>

</div>